<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="static/styles/main.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="static/images/logo-image.png" alt="logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/items">Marketplace</a></li>
                <li><a href="/booking">Plan Collection</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup" class="btn">Sign Up</a></li>
            </ul>
        </nav>
    </header> 

    <!-- Main section -->
     <main>
        <section class="mission">
            <h2>Our Mission</h2>
            <p>To foster a sustainable mindset in Kigali by engaging residents in eco-friendly practices through recycling. Our platform not only encourages a habit of thinking green but also provides economic benefits, offering a space for users to buy, sell, or exchange second-hand items. We aim to uplift vulnerable communities by creating job opportunities for women and the underprivileged, ensuring both environmental and social impact.</p>
        </section>
        <section class="vision">
            <h2>Our Vision</h2>
            <p>To inspire a city-wide recycling culture where sustainability is a way of life. We envision Kigali as a hub where environmental consciousness thrives, and every citizen participates in reducing waste while benefiting economically from eco-friendly practices. Through this, we strive to create a more equitable and environmentally responsible society.</p>
        </section>
     </main>

     <!-- Footer -->
     <footer>
        <p>&copy; 2024 Rebives. All rights reserved.</p>
     </footer>
    
</body>
</html>