<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>REVIBES</title>
    <link rel="stylesheet" href="static/styles/main.css">
</head>
<body>
    <!-- Header-->
    <header>
        <div class="logo">
            <img src="static/images/logo-image.png" alt="logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/items">Marketplace</a></li>
                <li><a href="/booking">Plan Collection</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup" class="btn">Sign Up</a></li>
            </ul>
        </nav>
    </header> 

    <!-- Call for action Section -->
     <section class="hero">
        <div class="hero-content">
            <h1>Join the movement to protect Our Environment</h1>
            <p>Recycling your items and make a difference in your community. <br> Plan a collection today, or shop eco-friendly products in our marketplace!</p>
            <a href="/booking" class="btn-primary">Booking a collection</a>
            <a href="/signup" class="btn-secondary">Join Now</a>
        </div>
     </section>

     <!-- Features section -->
      <section class="features">
        <h2>Why Choose our Platform?</h2>
        <div class="features-grid">
            <div class="feature-item">
                <img src="static/images/warehouse.jpg" alt="Easy Collection">
                <h3>Easy Collection</h3>
                <p>book a pick-up for your recyclables with jsut a few clicks.</p>
            </div>
            <div class="feature-item">
                <img src="/static/images/market.JPG" alt="Marketplace">
                <h3>Marketplace</h3>
                <p>Buy or sell sustainable products and earn rewards.</p>
            </div>
            <div class="feature-item">
                <img src="/static/images/tracking.jpg" alt="Track Your Impact">
                <h3>Track Your Impact</h3>
                <p>See the positive effects of your recycling efforts in real-time.</p>
            </div>
        </div>
      </section>

      <!-- Footer -->
       <footer>
        <div class="footer-content">
            <p>2024 REVIBES. All rights reserved.</p>
        </div>
       </footer>
    
</body>
</html>